.top_parent
{
	width: 100%;
}
.top_section
{
	width: 88%;
	padding: 20px 15px 20px 18px;
    float: left;
}
.login_form
{
	float: left;
	width: 25%;
}
.w3-sidebar
{
	position: relative !important;
	float:left;
}
.tm_input
{
	margin-left: 10%;
	width: 25%;
	display: inline-block;
}
.bottom_section
{
	height: 700px;
	clear: both;
    padding-left: 15px;
    width: 100%;
}
.dropdown
{
	float: left;
	width: 23%;
}
.dynamic_fields
{
    width: 75%;
    display: inline-block;
    /*padding-left: 7%;*/
}

.left
{
	border: 1px solid #696969;
	float: left;
    width: 48%;
    height: 100%;
    overflow: scroll;
}

.right
{
	display: inline-block;
	border: 1px solid #696969;
	margin-left: 2%;
	width: 48%;
	height: 100%;
    overflow: scroll;
}
.service_list_ul
{
	padding: 3px 2px 3px 2px;
}
.service_list_li
{
	padding:2px 4px 1px 0px;
}
.service_parent
{
	height: 45px;
	background-color: #888;
	width: 100%;
	padding: 3px 3px 3px 3px;
	/*position: fixed;*/
}

.service_data
{
	background-color: #f5f5f5;
	width: 100%;
	height: 100%;
}
.service_data pre.pretty-json {
	outline: none;
    box-shadow: none;
    border: 0;
    background: transparent;
}
.service_search
{
	width: 100%;
	height: 30px;
	margin-top:3px;
	margin-left: 2px;	
}
.url_input , .name_input, .pass_input , .uid_input, .dsn_input, .site_input
{
   padding: 4px;
   margin-bottom:3px;
}
.url_input{
	width: 100%;
	
}
.name_input, .pass_input
 {
   width: 48%;
   
 }
 .name_input{
 	margin-right: 4%;
 }
 .list-group-item
 {
 	border: 0px;
 }
 .drupal_dynamic1, .drupal_dynamic2
 {
 	display: inline-block;
 	width: 22%;
 }

.drupal_dynamic1, .drupal_dynamic2, .drupal_ynamic_go
{
	height: 62%;
}
.w3-bar-block .w3-bar-item
{
	padding: 5px 16px;
}