body{
	background-color: #eee;
}
.tablink
{
	padding: 9px 16px !important;
}
.field{
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
}
.floatlabel {
  font-weight: 510;	
  order: -1;
  padding-left: 5px;
  transition: all 200ms ease-in;
  transform: translateY(-50%);
  pointer-events: none;position:absolute;left:0;top:50%;
  opacity: 0.5;
}
.floatinput{
	font-weight: 540;
}

.floatinput:focus + .floatlabel,
.floatinput:not([data-attr='']) + .floatlabel
{
  font-size: 81%;
  /*color: #9b9b9b;*/
  transform: translate3d(0, -192%, 0);
  opacity: 0.8;
}


.top_parent
{
	width: 100%;
}
.top_section
{
	width: 88%;
	padding: 20px 15px 16px 18px;
    float: left;
}
.loading_image
{
	position: fixed;
	background: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 100%;
	text-align: center;
}
.golu_loader
{
	position: fixed;
	top:50%;
	left:50%;
	margin:-35px 0px 0px -35px;
}
.login_form
{
	float: left;
	width: 25%;
	margin-left: 4%;
}
.the_i
{
	padding-top: 7px;
}

.w3-sidebar
{
	position: relative !important;
	float:left;
}
.tm_input, .login_submit
{
	margin-left: 8%;
	width: 25%;
	display: inline-block;
}
.dall_btn , .tall_btn
{
	padding: 15px;
}
.all_load_parent
{
	display: inline-block;
}
.all_load
{
	font-size:26px;
	margin-top: 5px;
}
.login_data
{
    text-align: right;
}
.bottom_section
{
	height: 700px;
	clear: both;
    padding-left: 15px;
    width: 100%;
}
.dropdown
{
	float: left;
	width: 23%;
}
.dynamic_fields
{
    width: 75%;
    display: inline-block;
    /*padding-left: 7%;*/
}

.left
{
	border: 1px solid #696969;
	float: left;
    width: 48%;
    height: 100%;
    overflow: scroll;
}

.right
{
	display: inline-block;
	border: 1px solid #696969;
	margin-left: 2%;
	width: 48%;
	height: 100%;
    overflow: scroll;
}
.service_list_ul
{
	padding: 3px 2px 3px 2px;
}
.service_list_li
{
	padding:2px 4px 1px 0px;
}
.service_parent
{
	height: 45px;
	background-color: #888;
	width: 100%;
	padding: 3px 3px 3px 3px;
	/*position: fixed;*/
}

.service_data
{
	background-color:#fff;
	width: 100%;
	height: 100%;
}
.service_data pre.pretty-json {
	outline: none;
    box-shadow: none;
    border: 0;
    background: transparent;
}
.service_search
{
	width: 100%;
	height: 30px;
	margin-top:3px;
	margin-left: 2px;	
}
.input_gen
{
   padding: 4px;
   margin-bottom:4px;
}

.name_input, .pass_input , .input_gen_half
 {
   width: 48%;
   
 }
 .name_input, .half1
 {
 	margin-right: 4%;
 }
 .list-group-item
 {
 	border: 0px;
 }
 .drupal_dynamic1, .drupal_dynamic2, .tm_dynamic1, .tm_dynamic2
 {
 	display: inline-block;
 	width: 22%;
 }

.drupal_dynamic1, .drupal_dynamic2, .drupal_ynamic_go
{
	height: 62%;
}
.w3-bar-block .w3-bar-item
{
	padding: 5px 16px;
}
.header_rows
{
	margin-left: 4%;
}
pre
{
	font-size: 0.81em!important;
	line-height: 1.34857!important;
	background: #fff!important;
}
.postrequest
{
	width: 100%;
	resize: vertical;
    max-height: 222px;
    height: 166px;
}




.progress-line, .progress-line:before {
  height: 3px;
  width: 100%;
  margin: 0;
}
.progress-line {
  background-color: #ffffff;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #ff9800;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
..disabled { cursor: not-allowed; }
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}