<!DOCTYPE html>		
<html>
    <head>
		<meta charset="utf-8" />
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<!-- Import Angular Library -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.min.js"></script>

		<!-- Custom Files -->
		<link rel="stylesheet" type="text/css" href="css/features.css" />
		<script type="text/javascript" src="js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="css/ng-prettyjson.min.css">
		<script type="text/javascript" src="js/ng-prettyjson.min.js"></script>

		<title>PostMaster</title>
	</head>

	<body ng-app="myApp">
	   <!-- Top Section -->
       <div ng-controller="index" class="jumbotron top_section"> 
          <form>
	          <div class="login_form">
		         <input type="text" ng-model="input.url"  placeholder="url" class="w3-input w3-border url_input">
		         <input type="text" ng-model="input.name"  placeholder="name" class="w3-input w3-border name_input" style="float: left;">
		         <input type="text" ng-model="input.password"  placeholder="password" class="w3-input w3-border pass_input" style="display: : inline-block;margin-left: 5px;">
		         <input type="submit" value = "Log In" ng-click="login(input)" class="w3-button w3-green" style="width: 100%;">
		      </div>
		      <div class="tm_input">
		      	<input type="text" ng-model='input.uid' placeholder="uid" class="w3-input w3-border uid_input">
		      	<input type="text" ng-model='input.dsn' placeholder="dsn" class="w3-input w3-border dsn_input">
		      	<input type="text" ng-model='input.sitename' placeholder="site name" class="w3-input w3-border site_input">
		      </div>
	      </form> 
        <div class="loading_image" ng-show="imLoading"><img src="images/loader.gif" class="im_loading" /></div>
                  
       </div> 

       <!-- Output Section -->
       <div ng-controller="drupal" class="bottom_section  ng-cloak">
          <div class="left">
                <div class="service_parent">
		           <div class="dropdown">
					    <span class="w3-button w3-white dropdown-toggle"  data-toggle="dropdown">Drupal Services
					    <span class="caret"></span></span>
					    <ul class="dropdown-menu service_list_ul list-group table-striped">
					      <li class="service_list_li">
					          <div class="input-group"> 
							     <input type="text" placeholder="Search" ng-model='drupal_filter.Name' class="form-control service_search">
							  </div>   
					      </li>
					      <li class="divider"></li>
					      <li class= "service_list_li" ng-repeat="d in drupal_services | filter:drupal_filter"  ng-click="hitDrupal(d.Name,d.endpoint,d.api)"><a href="#" class="list-group-item"><strong>{{ d.Name }}</strong></a></li>
					    </ul>
				   </div>
				   <div class="dynamic_fields">
				     <form name="dynamic_fields" ng-submit="goDynamic(drupDynam.one, drupDynam.two)">
					   	 <input type="text" ng-model="drupDynam.one" placeholder="{{placeholder1}}" ng-if="drupal_dynamic1" class="w3-input w3-border drupal_dynamic1">
					   	 <input type="text" ng-model="drupDynam.two" placeholder="{{placeholder2}}" ng-if="drupal_dynamic2" class="w3-input w3-border drupal_dynamic2">
					   	 <input type="submit" ng-disabled="dynamic_fields.$pending" class="w3-button w3-orange drupal_ynamic_go" value="Go!" ng-show="drupal_dynamic1">
				   	 </form>
				   </div>
				</div>
				<div class="service_data">
		          <p json='drupal_output' pretty-json ></p>
		        </div>  
	      </div>  

	      <div class="right">
	          <div class="service_parent">
		           <div class="dropdown">
					    <span class="w3-button w3-white dropdown-toggle"  data-toggle="dropdown">Tm Services
					    <span class="caret"></span></span>
					    <ul class="dropdown-menu service_list_ul list-group">
					      <li class="service_list_li">
						      <div class="input-group"> 
							     <input type="text" placeholder="Search" ng-model='tm_filter.Name' class="form-control service_search">
							  </div>   
					      </li>
					      <li class="divider"></li>
					      <li class= "service_list_li" ng-repeat = "t in tm_services | filter:tm_filter"  ng-click="hitTm(t.endpoint)"><a href="#" class="list-group-item"><strong>{{ t.Name }}</strong></a></li>
					    </ul>
				   </div>
				</div>
	          <div class="service_data">
	            <p json='tm_output' pretty-json ></p>
	          </div> 
	      </div>  

	   </div>

    </body>

</html>